.footer {
  background-color: #525050;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.content {
  text-align: center;
}

.text {
  margin: 5px 0;
  font-size: 14px;
}
